@import "src/app/core/variables";
@import "src/app/core/reset";

.navbar {
  @include height(10vh);
  @include width(100%);
  display: inline-block;
}

*.active {
  color: red;
  background-color: #f3e3e3;
}

nav {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;

  &.icons {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: 100%;
    font-weight: 700;
    height: 10vh;
  }
}

a {
  text-decoration: none;
  text-align: center;
  border-radius: 5%;
  border: 1px solid #1c3a50;
  background-color: #bfbfbf;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: rgba(170, 208, 211, 0.85);
  }
}
