@import "src/app/core/variables";
@import "src/app/core/reset";

.navbar {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-basis: 1 1 1 1 1 auto;
}

.navbar__item {
    width: 100%;
    margin: 0 auto;
}

a {
    margin: 0 auto;
}