@import "../../../../core/reset.scss";
@import "../../../../core/variables.scss";


label, input {
  width: 100%;
  border: 0;
}

.editor {
  @include height(13vh);
  min-width: 90%;
  background-color: whitesmoke;
  margin: 0;
  position: static;
  display: grid;
  grid-template-columns: 10% 50% 10% 20% 10%;
  grid-template-rows: 100%;
  grid-template-areas: "icon product quantity unit dots";

  .icon {
    grid-area: icon;
    justify-items: center;
    margin: auto auto;
  }

  .product {
    max-width: 100%;
    grid-area: product;
    justify-self: center;
    margin: auto auto;
    white-space: normal !important;
    word-wrap: break-word;
  }

  .quantity {
    grid-area: quantity;
    justify-self: center;
    margin: auto auto;
  }

  .unit {
    grid-area: unit;
    justify-self: center;
    margin: auto auto;
  }

  @media (max-width: 1230px) {
    margin: 0;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "icon content content ok"
                        "icon content1 content2 ok";

    div.icon {
      grid-area: icon;
    }                
    div.product {
      grid-area: content;
    }
    div.quantity {
      grid-area: content1;
    }
    div.unit {
      grid-area: content2;
    }
    button {
      grid-area: ok;
    }
  }
}

.btn-success {
  @include height(65%);
  @include width(70%);
  margin: auto;
  grid-area: dots;
  background-color: green;
  border-radius: 10vh;
  border: 0;
  justify-self: center;
  z-index: 0;
  color: whitesmoke;
}
