<div class="login">
  <div class="credentials">
    <form action="login" [formGroup]="loginForm">
      <label for="login">Login: 
        <input type="text" autocomplete="on" formControlName="name" required />
      </label>
      <label for="password">Password: <input type="password" formControlName="password" required /></label>
    </form>
  </div>
  <p>Credentials forgotten</p>
  <button (click)="login()">Login</button>
  <button (click)="backToPreviousPage()">Back</button>
  <a routerLink="/register">Register</a>
</div>
