@import "../../core/variables";
@import "../../core/reset.scss";

section {
  height: 30vh;
  margin: 5px 3%;
  border: 2px solid rgb(253, 211, 72);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:empty {
    background-color: red;
  }
}

.betstat {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;

}

.betstat__match {
    align-items: baseline;
    margin: 3% auto;
    width: 10%;
}

.pagination {
  width: 100%;
  height: 50%;
}
