<section>
  <div class="betstat">
    <div class="betstat__match" *ngFor="let match of currentPosts" routerLink="betstat/{{match.matchID}}">
      <div>{{ match.home }} - {{ match.away }}</div>
      <!-- <a routerLink="betstat/{{match.matchID}}" routerLinkActive="router-link-active" *ngIf="goTo()">Show more</a> -->
    </div>
  </div>
  <div class="pagination">
    <button *ngFor="let i of pageNumbers" (click)="paginate(i)">
      {{ i }}
    </button>
  </div>
  <router-outlet></router-outlet>
</section>
