@import "../../core/variables";
@import "../../core/reset.scss";

section {
    height: 30vh;
    width: 94%;
    margin: 5px 3%;
    border: 2px solid rgb(253, 211, 72) ;
    display: flex;
    flex-basis:  1 1 auto;
}

.betstat {
    display: flex;
    width: 10vh;
    height: 10vh;
    margin: 2vh auto;
}