@import "core/variables";
@import "core/reset.scss";

#theme {
  background-color: rgb(171, 175, 154);
  max-height: max-content;
  min-height: 98vh;
}

a {
  text-decoration: none;
  color: brown;
}

#title, #navbar {
  @include height(8vh);
  @include width(100%);
}

a {
width: 100vw;
  font-size: 5vh;
// margin: 0 40%;
}

#header {
  box-sizing: content-box;
  padding-bottom: 5vh;
  @include height(16vh);
}

.sticky {
  position: fixed;
  top: 0;
}

.afterSticky {
  box-sizing: content-box;
  padding-bottom: 15vh;
}

daylis-navbar {
  position: static;
  background-color: red;
  @include height(20vh);
}

router-outlet {
  @include height(78%);
}

footer {
  @include height(2vh);
  bottom: 1vh;
  @include width(100vw);
  display: block;
  position: fixed;
  z-index: 5;
}

.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0,0,0,0.9) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
  font-size: 100px !important;
}