@import "../../core/variables";

main {
  @include height(88%);
  @include width(100%)
}

.container {
  margin: 1vh 1vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  flex-basis: auto;
  align-content: stretch;
}

.items {
  margin: 2vh 2vw;
  min-width: 40vw;
  min-height: 40vh;
  max-height: 40vh;

  @media (max-width: 768px){
    width: 100%;
  }
}

.bgsize {
  background-size: 40vw;
  background-position: center;
  transition: ease-in-out;
  transition-duration: 0.43s;
  background-repeat: no-repeat;

  @media (max-width: 768px){
    background-size: 55vh;
  }

  &:hover {
    background-size: 43vw;
    @media (max-width: 768px){
      background-size: 60vh;
    }
  }
}

.salad {
  background-image: url("src/assets/salads.jpg");
}

.italy {
  background-image: url("src/assets/italy.jpg");
}

.japan {
  background-image: url("src/assets/sushi.jpg");
}

.mexico {
  background-image: url("src/assets/mexico.jpg");
}

.hero-text {
  width: 38.5%;
  height: 10%;
  background-color: rgba(230, 240, 250, 0.4);
}

.hero-text > p {
  color: red;
  text-transform: uppercase;
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  padding: 4.3% 0 4.3% 0;
}