<main>
<div class="title">
<span>Książka kucharska</span>
</div>W
<section class="container">
  <div class="items salad bgsize">
    <div class="hero-text">
      <p>Sałatki</p>
    </div>
  </div>

  <div class="items italy bgsize">
    <div class="hero-text">
      <p>Dania włoskie</p>
    </div>
  </div>

  <div class="items japan bgsize">
    <div class="hero-text">
      <p>Kuchnia japońska</p>
    </div>
  </div>

  <div class="items japan bgsize">
    <div class="hero-text">
      <p>Kuchnia meksykańska</p>
    </div>
  </div>
</section>
</main>


<!-- 
<div class="items">
  <div class="mexico">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div> -->

  <!-- .items {
    margin: 2vh 2vw;
    min-width: 60vw;
    min-height: 40vh;
    max-height: 40vh;
  
    @media (max-width: 768px){
      width: 100%;
    }
  } -->

<!--   
.mexico {
  height: 40vh;
  margin: auto 5vw;
  background-image: url("src/assets/mexico.jpg");
  background-size: 60vw;
  background-position: center;
  transition: ease-in-out;
  transition-duration: 0.43s;
  background-repeat: no-repeat;

  div.square {
    display: inline-block;
    float: left;
    width: 1/3*100%;
    height: 1/3*100%;
    border: #466080 1px solid;
    margin: 0;
    background-color: rgba(127, 255, 49, 0.2);

    &:hover {
      //background-color: rgba(127, 255, 49, 0.7);
      background-image: url("src/assets/mexico.jpg");
      background-size: 100%;
    }
  } -->