@import "src/app/core/variables";

main {
  @include height(80%);
}

.daily-background {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 76%;
  position: static;
  -webkit-background-clip: padding;
  -webkit-text-fill-color: red;
}

.daily-lists {
  display: grid;
  grid-auto-flow: row;
  line-height: 10vh;
  grid-row-gap: 1vh;
  margin: 2vh 10%;
}

.daily-lists__btn {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas: "left center right";
  border: whitesmoke 2px solid;
  cursor: pointer;
  text-decoration: none;
  font-family: Roboto, sans-serif;

  div.c {
    grid-area: center;
  }

  div.r {
    grid-area: right;
  }

  &:hover {
    background-color: rgba(248, 234, 0, 0.4);
    border: rgba(248, 234, 0, 0.4) 2px solid;
    // animation: ease-in-out;
    transition-duration: 0.35s;
  }
}

button.add-btn {
  width: 20%;
  height: 60px;
  margin: 5% 40%;
}
  // &:hover {
  //   background-color: #faa4cf;
  //   animation: ease-in-out;
  //   transition-duration: 0.2s;
  //   cursor: pointer;
  // }

