<main>
  <div class="daily-background" *ngIf="!dailyView" [@swapp]="!dailyView">
    <div class="daily-lists">
      <div
      [routerLink]="['/daylis']" routerLinkActive="active" 
      [@swapp]="!dailyView"
        *ngFor="let daily of dailyLists; let i = index"
        class="daily-lists__btn"
        (click)="showDetailsOfDaylis(daily); toggleDaylisDetails()"
      >
        <div class="c" tabindex="daily.id">{{ daily.title }}</div>
        <div class="r">
          {{ countBoughtIngredients(i) }}/{{ daily.ingredients.length }}
        </div>
      </div>
      <section class="new-list">
        <label for="new-daily-list-name"
          >Name of list:
          <input
            value="{{ nameOfNewList }}"
            [(ngModel)]="nameOfNewList"
            autocomplete="off"
        /></label>
        <button
          class="add-btn"
          (click)="addNewDailyList(nameOfNewList)"
          [ngStyle]="{
            cursor: nameOfNewList == '' ? 'not-allowed' : 'pointer'
          }"
        >
          +
        </button>
      </section>
    </div>
  </div>
  <div class="daily-background" *ngIf="dailyView">
    <app-daylis-details
      (handleDailyViewOutput)="toggleDaylisDetails()"
    ></app-daylis-details>
  </div>
</main>
