<main>
  <div class="daily-background">
    <div class="daily-lists">
      <a
        *ngFor="let daily of dailyLists; let i = index"
        class="daily-btn"
        routerLink="{{ daily.id }}"
        (click)="showDetailsOfDaylis(daily.ingredients)"
      >
        <div class="c">{{ daily.title }}</div>
        <div class="r">{{ countBoughtIngredients(i) }}/{{ daily.ingredients.length }}</div>
      </a>
      <section class="add-btn">
        <button
          class="new-list"
          [disabled]="nameOfNewList == ''"
          (click)="addNewDailyList(nameOfNewList)"
          [ngStyle]="{'cursor': nameOfNewList == '' ? 'not-allowed' : 'pointer'}"
        >
          +
        </button>         
        <label for="new-daily-list-name"
          >Name of list:
          <input
            value="{{ nameOfNewList }}"
            [(ngModel)]="nameOfNewList"
            autocomplete="off"
        /></label>
      </section>
    </div>
  </div>
</main>
